.btn-dark {
    background-color: $dark-color;
    color: $light-color;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-top: 5px;
    min-width: 60px;
    outline: none;
    border: 1px solid $dark-color;
    text-decoration: none;
    &:disabled {
        background-color: #bdc3c7; /* Couleur grise pour indiquer un état désactivé */
        color: #7f8c8d; /* Couleur du texte adoucie */
        cursor: not-allowed; /* Changement de curseur */
        opacity: 0.6; /* Légère transparence */
        border-color: #bdc3c7;
    }
}