.bloc-buy-now {
    margin: 152px auto;
    @include respond-to(medium) {
        margin : 0px auto 52px;
    }
    > div {
        width: 620px;
        margin: 0px auto;
        @include respond-to(medium) {
            margin : 0px auto;
            width: 100%;
        }
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        .curency {
            font-size: 36px;
            line-height: 46.8px;
            font-weight: 700;
            display: block;
            position: relative;
            top: 5px;
            right: 5px;
            @include respond-to(medium) {
                font-size: 24px;
                line-height: 26px;
            }
        }
        .value {
            font-size: 64px;
            line-height: 83.2px;
            font-weight: 700;
            display: block;
            @include respond-to(medium) {
                font-size: 36px;
                line-height: 46.8px;
            }
        }
    }
    .description-fine {
        text-align: center;
        line-height: 20.8px;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 100px;
        @include respond-to(medium) {
            font-size: 18px;
            line-height: 20px;
            margin-top: 50px;
        }
    }
    .description-strong {
        text-align: center;
        line-height: 31.2px;
        font-size: 24px;
        font-weight: 800;
        color: $primary-color;
        text-transform: uppercase;
        margin: 100px auto;
        @include respond-to(medium) {
            font-size: 20px;
            line-height: 26px;
            margin-top: 50px;
        }
    }  
}