.bloc-buy-now {
    margin: 152px auto;
    > div {
        width: 620px;
        margin: 50px auto;
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        .curency {
            font-size: 36px;
            line-height: 46.8px;
            font-weight: 700;
            display: block;
            position: relative;
            top: 5px;
            right: 5px;
        }
        .value {
            font-size: 64px;
            line-height: 83.2px;
            font-weight: 700;
            display: block;
        }
    }
    .description-fine {
        text-align: center;
        line-height: 20.8px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .description-strong {
        text-align: center;
        line-height: 31.2px;
        font-size: 24px;
        font-weight: 800;
        color: $primary-color;
        text-transform: uppercase;
    }  
}