.bloc-choose-your-size {
    .top-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 152px auto;
        height: 203px;
        overflow: hidden;
        //border: 1px solid red;
        .number {
            //border: 1px solid green;
            width: calc(50% - 50px);
            height: 100%;
            display: flex;
            justify-content: space-around;
            &:first-child {
                font-size: 203px;
                line-height: 181px;
                font-weight: 800;
                color: $primary-color;
            }
            &:last-child {
                >div {
                    &.fixed-on {
                        display: none;
                    }
                    
                }
            }
            > div{
                //border: 1px solid orange;
                height: 100%;
                .slide-item {
                    //background-color: red;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        > img {
            display: block;
            width: 96.74px;
            height: 54.88px;
        }
        .title {
            text-transform: uppercase;
            font-size: 36px;
            line-height: 46.8px;
            font-weight: 700;
        }
    }
    .sirt {
        margin: 152px auto;
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
}