.bloc-join-now {
    margin: 152px auto;
    width: 620px !important;
    @include respond-to(medium) {
        margin : 102px auto 52px;
    }
    .title {
        display: block;
        margin: auto;
        font-size: 24px;
        line-height: 31.2px;
        font-weight: 800;
        color: $primary-color;
        text-transform: uppercase;
        margin-top: 50px;
        text-align: center;
        @include respond-to(medium) {
            font-size: 20px;
            line-height: 26px;
            width: 390px;
            margin: 25px auto;
            text-align: center;
        }
    }
}

