.bloc-policy{
    margin-top: 150px;
    @include respond-to(medium) {
        margin-top: 52px;
    }
    >h1 {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 800;
        color: $dark-color;
    }
    .paragraph {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid $light-grey;
        p {
            font-size: 16px;
            line-height: 20.8px;
            color: $dark-color;
            font-weight: 400;
        }
    }
}