.bloc-pose {
    .navigation {
        width: 1116px;
        margin-left: auto;
        margin-right: auto;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 152px;
            li {
                width: 223px;
                padding-bottom: 50px;
                
                a {
                    text-decoration: none;
                    color: $dark-color;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 15.6px;
                    font-size: 12px;
                }
                &:nth-child(2) {
                    border-bottom: 1px solid $light-grey;
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        
                    }
                }
            }
        }
    }
    .list-images {
        > div {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
        >.devant {
            position: relative;
            overflow: hidden;
            > span {
                display: block;
                position: absolute;
                text-transform: uppercase;
                transform: rotate(-90deg);
                top: 25px;
                left: -50px;
                line-height: 15.6px;
                font-size: 12px;
                font-weight: 700;
            }
            .background-image-face {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.8s ease-in-out;
                width: 100%;
                height: auto;
                background-position-y: 30px;
                > img {
                    width: 100%;
                    position: relative;
                    transform: scale(1.15);
                    transition: top 0.8s ease-in-out;
                    top: -47px;
                }
                &:hover {
                    transition: all 0.8s ease-in-out;
                    background-position-y: -40px;
                    > img {
                        top: -30px;
                        transition: top 0.8s ease-in-out;
                    }
                }
            }
            
        }
        .dos {
            position: relative;
            > span {
                display: block;
                position: absolute;
                text-transform: uppercase;
                transform: rotate(-90deg);
                top: -10px;
                right: -25px;
                line-height: 15.6px;
                font-size: 12px;
                font-weight: 700;
            }
            .background-back {
                background-color: $primary-color;
                overflow: hidden;
                
                > img {
                    width: 100%;
                    transform: scale(1.35);
                    transition: all .8s ease-in-out;
                    position: relative;
                    top: 0;
                }
                &:hover {
                    > img {
                        position: relative;
                        top: 50px;
                        transition: all .8s ease-in-out;
                    }
                }
            }
        }
        .epaul-devant {
            display: flex;
            justify-content: space-between;
            .cover {
                width: calc(50% - 12.5px);
                > div {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color:$primary-color;
                    overflow: hidden;
                    &.background-chest {
                        > img {
                            width: 100%;
                            transform: scale(1.04);
                            position: relative;
                            left: 0;
                            transition: left 0.8s ease-in-out;
                        }
                        &:hover {
                            > img {
                                position: relative;
                                left: 10px;
                                transition: left 0.8s ease-in-out;
                            }
                        }
                    }
                    &.background-shoulder {
                        > img {
                            width: 100%;
                            transform: scale(1.04);
                            position: relative;
                            right: 0;
                            transition: right 0.8s ease-in-out;
                        }
                        &:hover {
                            img {
                                position: relative;
                                right: 10px;
                                transition: right 0.8s ease-in-out;
                            }
                        }
                    }
                }
                > span {
                    display: block;
                    text-transform: uppercase;
                    line-height: 15.6px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-top: 15px;
                }
                &:last-child {
                    span {
                        text-align: end;
                    }
                }
            }
        }
    }
}