.bloc-text-slide {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 152px 0;
    scrollbar-width: none;
    .slide-item {
        animation: slide-left 10s linear infinite;
        display: flex;
        align-items: center;
        p {
            font-size: 36px;
            line-height: 46.8px;
            text-transform: uppercase;
            font-weight: 800;
            color: $primary-color;
            margin:0 15px;
            white-space: nowrap;
            display: inline-block;
        }
        img {
            width: 37.87px;
            height: 21.48px;
            position: relative;
            bottom: 5px;
        }
    }
}
@keyframes slide-left {
    0% {
      transform: translateX(100%); /* Commence à l'extérieur à droite */
    }
    100% {
      transform: translateX(-100%); /* Termine à l'extérieur à gauche */
    }
}