.bloc-text-slide {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 152px 0;
    scrollbar-width: none;
    position: relative;
    color: $primary-color;
    z-index: -1;
    @include respond-to(medium) {
        margin: 100px 0px 100px 0px;
    }
    .slide-item {
        animation: slide-left 5s linear infinite;
        display: flex;
        align-items: center;
        p {
            font-size: 36px;
            line-height: 46.8px;
            text-transform: uppercase;
            font-weight: 800;
            margin:0 15px;
            white-space: nowrap;
            display: inline-block;
            @include respond-to(medium) {
                font-size: 20px;
                line-height: 26px;
            }
        }
        
    }
}
@keyframes slide-left {
    from {
      transform: translateX(0); /* Commence à l'extérieur à droite */
    }
    to {
      transform: translateX(-50%); /* Termine à l'extérieur à gauche */
    }
}