/* Utilisation de la police dans le CSS */
body {
    font-family: 'Syne', sans-serif;
    overflow-x: hidden;
}
main {
    padding: 0;
    position: relative;
    width: 1371.5px;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(macbook) {
        width: 1200px;
    }
    .base-section-first {
        height: 100vh;
        width: 100%;
    }
    .header-left {
        position: fixed;
        top:50px;
        //left: 50px;
        left: calc(calc((100% - $maxMainWidth) / 2) + 25px);
        @include respond-to(macbook) {
            $maxMainWidth : 1200px;
            left: calc(calc((100% - $maxMainWidth) / 2) + 25px);
        }
        display: flex;
        flex-direction: column;
        img {
            display: block;
            width: 60.7px;
            height: 60.7px;
        }
        .vertical-position { 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 278px;
            transform: rotate(90deg);
            position: absolute;
            top: 250px;
            left: -105px;
            p {
                display: block;
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                text-transform: uppercase;
            }
            .square-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                bottom: 2.5px;
                .square {
                    width: 18px;
                    height: 18px;
                    margin-top: 5px;
                    position: relative;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    &:first-child {
                        background-color: $primary-color;
                        &:hover {
                            cursor: pointer;
                            position: relative;
                            z-index: 20;
                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                left: -3px;
                                top: -3px;
                                width: 24px;
                                height: 24px; 
                                background-color: transparent;
                                border: 1px solid $primary-color;
                                z-index: 1;
                            }
                        }
                    }
                    &:last-child {
                        background-color: $yellow-color;
                        &:hover {
                            cursor: pointer;
                            position: relative;
                            z-index: 20;
                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                left: -3px;
                                top: -3px;
                                width: 24px;
                                height: 24px; 
                                background-color: transparent;
                                border: 1px solid $yellow-color;
                                z-index: 1;
                            }
                        }
                    }
                    &:nth-child(2) {
                        background-color: $grey-color;
                        &:hover {
                            cursor: pointer;
                            position: relative;
                            z-index: 20;
                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                left: -3px;
                                top: -3px;
                                width: 24px;
                                height: 24px; 
                                background-color: transparent;
                                border: 1px solid $grey-color;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .header-right {
        position: fixed;
        top: 50px;
        right: calc(calc((100% - $maxMainWidth) / 2) + 25px);
        @include respond-to(macbook) {
            $maxMainWidth : 1200px;
            right: calc(calc((100% - $maxMainWidth) / 2) + 25px);
        }
        img {
            display: block;
            width: 60.7px;
            height: 60.7px;
        }
        .lang {
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
            color: $dark-color;
        }
        .vertical-position {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 308px;
            transform: rotate(90deg);
            position: absolute;
            top: calc(100vh - 328px);
            left: -125px;
            p {
                display: block;
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                text-transform: uppercase;
            }
            .square-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                bottom: 2.5px;
                .square {
                    width: 18px;
                    height: 18px;
                    margin-top: 5px;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        transform: rotate(-90deg);
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .whatsapp {
                    padding-left: 15px;
                    &::before {
                        display: block;
                        content: "";
                        width : 1px;
                        height: 35px;
                        background-color: $dark-color;
                       position: relative;
                       top: 18px;
                    }
                    img {
                        width: 33.12px;
                        height: 33.12px;
                        position: relative;
                        left: 17px;
                        bottom: 17px;
                    }
                    
                }
            }
            
        }
    }
    >div {
        &:not(.header-fixed, .bloc-recommandation) {
           
            width: 1116px;
            margin-left: auto;
            margin-right: auto;
            @include respond-to(macbook) {
                width: 992px;
            }
        }
    }
    
}