$light-color : #FFFFFF;
$dark-color :#262626;
$blue-color : #005EB8;
$primary-color : $blue-color;
$yellow-color :#F7CA45;
$grey-color :#808364;
$light-blue : rgba(213, 229, 242, 1);
$light-grey : rgba(217, 217, 217, 1);
$transparent : rgba(0,0,0,0);
$label-color : rgba(117, 117, 117, 1);

.main-blue {
    $primary-color : $blue-color;
}
.main-grey {
    $primary-color : $grey-color;
}
.main-yellow {
    $primary-color : $yellow-color;
}


// linear gradient soratra : 
//background: linear-gradient(180deg, #262626 -170.74%, #D5E5F2 -62.94%);

// margin-left right 1 block :  34px
// margin text vertical top : 63px - 18px = 45px à partir de 34px - 15.5px 

// logo left lion :  left 50pxhh
