$light-color : #FFFFFF;
$dark-color :#262626;
$primary-color : #005EB8;
$yellow-color :#F7CA45;
$grey-color :#808364;
$light-blue : rgba(213, 229, 242, 1);

// linear gradient soratra : 
//background: linear-gradient(180deg, #262626 -170.74%, #D5E5F2 -62.94%);

// margin-left right 1 block :  34px
// margin text vertical top : 63px - 18px = 45px à partir de 34px - 15.5px 

// logo left lion :  left 50pxhh
