$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-macbook: 1440px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == xsmall {
      @media (max-width: 480px) { @content; }
  } @else if $breakpoint == small {
      @media (max-width: $breakpoint-small) { @content; }
  } @else if $breakpoint == medium {
      @media (max-width: $breakpoint-medium) { @content; }
  } @else if $breakpoint == large {
      @media (max-width: $breakpoint-large) { @content; }
  } @else if $breakpoint == xlarge {
      @media (max-width: $breakpoint-xlarge) { @content; }
  }  @else if $breakpoint == macbook {
    @media (max-width: $breakpoint-macbook) { @content; }
  }
}