.fs1 {
    font-size: $fs-primary;
    line-height: $lh-primary;
    @include respond-to(xlarge) {
        font-size: 64px;
        line-height: 64px;
    }
    @include respond-to(medium) {
        font-size: 36px;
        line-height: 36px;
    }
}
.fs2 {
    font-size: 36px;
    line-height: 46.8px;
    @include respond-to(medium) {
        font-size: 20px;
        line-height: 26px;
    }
}