$fs-primary : 92.51px;
$lh-primary : 92.51px;
$fw-primary : 800;
$maxMainWidth : 1371.5px;

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$container-max-width: 1200px;