.page-white {
    .header-left {
        .vertical-position .square-container .square {
            &:nth-child(1) {
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: -3px;
                    top: -3px;
                    width: 24px;
                    height: 24px; 
                    background-color: transparent;
                    border: 1px solid $blue-color;
                    z-index: 1;
                }
            }
        }
    }
    .btn-flip {
        background-color: $blue-color;
        color: $light-color;
        &:after {
            background-color: $blue-color;
            color: $light-color;
        }
        &:before {
            background-color: $blue-color;
            color: $light-color;
        }
    }
}
.bloc-mobile-header.white .vertical-position .square-container .square:first-child::after {
    display: block;
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 32.3px;
    height: 32.3px; 
    background-color: transparent;
    border: 1px solid $blue-color;
    z-index: 1;
}