$yellow-color : $yellow-color;
$light-yellow : rgba(244, 185, 11, 0.4);
.page-yellow {
    .bloc-header {
        h1, h2 {
            color: $yellow-color;
        }
    }
    .bloc-pose .list-images .dos .background-back,
    .bloc-pose .list-images .epaul-devant .cover > div,
    .bloc-pose .list-images .epaul-devant .cover > div
    {
        background-color: $yellow-color;
    }
    .bloc-support-us {
        .percent-text {
            .section-rates {
                .content, span {
                    color: $yellow-color;
                }
            }
            .paragraph {
                p {
                    color: $yellow-color;
                }
            }
        }
        &:hover {
            .percent-text {
                .section-rates {
                    .content {
                        .before-hidden {
                            color: $light-yellow;
                        }
                        .after-hidden {
                            color: $light-yellow;
                        }
                    }
                }   
                .paragraph {
                    p  {
                        color: $light-yellow;
                    }
                }      
            }
        }
    }
    .bloc-support-us .rebirth-support > div .number {
        color: $yellow-color;
    }
    .bloc-text-slide {
        color: $yellow-color;
    }
    .bloc-text-slide-with-image {
        color: $yellow-color;
    }
    .bloc-buy-now .text {
        color: $yellow-color;
    }
    .bloc-buy-now .description-strong {
        color: $yellow-color;
    }
    .primary-button {
        background-color: $yellow-color;
        &:hover {
            background-color: $yellow-color !important;
        }
    }
    .bloc-join-now .title {
        color: $yellow-color;
    }
    .header-left {
        .vertical-position .square-container .square {
            &:last-child {
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: -3px;
                    top: -3px;
                    width: 24px;
                    height: 24px; 
                    background-color: transparent;
                    border: 1px solid $yellow-color;
                    z-index: 1;
                }
            }
        }
    }
    .bloc-animate-vertical {
        p {
            color: $light-yellow
        }
        &:hover {
            p {
                color: $dark-color
            }
        }

    }
    .bloc-choose-your-size .top-section .number:first-child {
        color: $yellow-color;
    }
    .bloc-support-us .percent-text .paragraph p {
        @include respond-to (medium) {
            color: $yellow-color;
        }
    }
    .btn-flip {
        background-color: $yellow-color;
        color: $light-color;
        &:after {
            background-color: $yellow-color;
            color: $light-color;
        }
        &:before {
            background-color: $yellow-color;
            color: $light-color;
        }
    }
}
.bloc-mobile-header.yellow .vertical-position .square-container .square:nth-child(3)::after {
    display: block;
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 32.3px;
    height: 32.3px; 
    background-color: transparent;
    border: 1px solid $yellow-color;
    z-index: 1;
}